= form_for [project, task], html: {class: 'task_status'}, remote: true do |f|
  %div
    .field.status
      = f.check_box :status, 'placeholder' => :status, onchange: "statusDone(#{task.id}, #{project.id});"
      %br
      %small done